# -*- Config -*- (syntax highlighting)
# ----------------------------------------------------------------------
#
# Brad T. Aagaard, U.S. Geological Survey
# Charles A. Williams, GNS Science
# Matthew G. Knepley, University of Chicago
#
# This code was developed as part of the Computational Infrastructure
# for Geodynamics (http://geodynamics.org).
#
# Copyright (c) 2010-2017 University of California, Davis
#
# See COPYING for license information.
#
# ----------------------------------------------------------------------
#
# Parameters for using linear elastic material models for the 'slab',
# 'wedge', 'mantle', and 'crust'.
#
# We use a SimpleDB with a single point for each material. We could
# have used a UniformDB, but we will reuse some of these spatial
# databases for the elastic properties when we specify the properties
# for the linear Maxwell viscoelastic models. Additionally, using
# SimpleDB makes it easier to adjust the spatial database file should
# we want to add in a spatial variation to the material properties.

[pylithapp.problem.materials]
slab = pylith.materials.ElasticIsotropic3D
box = pylith.materials.ElasticIsotropic3D

# Slab
[pylithapp.problem.materials.slab]
db_properties = spatialdata.spatialdb.SimpleGridDB
db_properties.label = Properties for subducting slab
db_properties.query_type = linear
db_properties.filename = spatialdb/mat_uni_elastic.spatialdb

# Wedge
[pylithapp.problem.materials.box]
db_properties = spatialdata.spatialdb.SimpleGridDB
db_properties.label = Properties for accretionary wedge
db_properties.query_type = linear
db_properties.filename = spatialdb/mat_uni_elastic.spatialdb




# End of file
